openapi: 3.0.0
info:
  title: Content.ad Reporting API
  version: '1.0'
  description: |-
    # Introduction
    Content.ad offers this REST API to make reporting data available in either XML or JSON format.

    Please note that this feature requires a unique API key and API password. Please contact your account representative for more information.

    ## Implementation FAQ
    ### What authentication method is required
    Authentication is requried for each Report API call. Login to https://content.ad, and go to the "General Info" page. Find your API Key and set an API Password if you haven't already. Encode those using the Basic Auth method as shown in the "Security Schemes" section below, and pass the encoded value in the header of each API call.

    ### How often is performance data updated?
    Performance reports are updated by Content.ad once per hour.

    ### How long can I run the report for?
    This report can be run for any period 31 days or less. You can use the "startDate" and "endDate" parameters to specify a date range.
  contact:
    name: Content.ad Support
    url: 'https://help.content.ad'
    email: support@content.ad
servers:
  - url: 'https://rest.content.ad/reports'
    description: Rest API
paths:
  /publisher:
    get:
      summary: Publisher Report
      tags:
        - Publisher Reports
      operationId: publisherReport
      description: |-
        Content.ad offers this REST API to make the data in the Widget Summary Report in a publisher’s account login available in either XML or JSON format.

        Please note that this feature requires a unique API key and password. Please contact your account representative for more information.

        ## Implementation FAQ
        ### How is reporting data grouped?
        This report can group data by hour or day and groups performance by domain and widget. See the "Query Parameters" section for more information.
      security: []
      parameters:
        - schema:
            type: string
            default: json
            example: json
            enum:
              - xml
              - json
          in: query
          name: output
          description: Defines response format as either XML or JSON as specified.
        - schema:
            type: string
            format: date-time
            default: '2020-07-01T00:00:00-08:00'
            example: '2020-07-01 OR  2020-07-01T00:00:00-08:00'
            enum: []
          in: query
          name: startDate
          description: |-
            Defines beginning of report date range.
            Must be URL encoded. Default: yesterday, beginning of day, Pacific Time.
            Examples: Group by Time [2016-01-25T00:00:00-08:00], Group by Date [2016-01-25]
          required: true
        - schema:
            type: string
            format: date-time
            default: '2020-07-02T00:00:00-08:00'
          in: query
          name: endDate
          description: 'Defines end of report date range. Must be URL encoded. Default: yesterday, end of day, Pacific Time.  Examples: Group by Time [2016-01-25T00:00:00-08:00], Group by Date [2016-01-25]'
          required: true
        - schema:
            type: string
            default: 'false'
            example: 'false'
            enum:
              - 'true'
              - 'false'
          in: query
          name: groupByDay
          description: 'Default report groups by hour. To group by day, set to true.'
        - $ref: 'https://en.wikipedia.org/wiki/Basic_access_authentication'
        - schema:
            type: string
            default: 'Basic '
          in: header
          name: Authorization
          required: true
          description: Encode your API Key and API Password using Basic Auth and include in this field with every call.
        - schema:
            type: integer
          in: query
          name: domainId
          description: Display results for only the specified Domain ID
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  Domains:
                    type: array
                    items:
                      type: object
                      properties:
                        ID:
                          type: integer
                        Name:
                          type: string
                        Widgets:
                          type: array
                          items:
                            type: object
                            properties:
                              Guid:
                                type: string
                              Description:
                                type: string
                              Dates:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    Time:
                                      type: string
                                    Impressions:
                                      type: integer
                                    CTR:
                                      type: number
                                    ECPM:
                                      type: number
                                    ClicksPaid:
                                      type: integer
                                    ClicksInternational:
                                      type: integer
                                    Revenue:
                                      type: number
              examples:
                JSON Group by Day:
                  value:
                    Domains:
                      - ID: 324801
                        Name: mapdirectionspro.co
                        Widgets:
                          - Guid: 05d81a8c-a76c-4506-aaae-d1c06a9a4816
                            Description: 3 Unit Push Widget
                            Dates:
                              - Time: '2020-02-11'
                                Impressions: 133269
                                CTR: 0.0346
                                ECPM: 1.8747
                                ECPA: 249.8364
                                ClicksPaid: 4620
                                ClicksInternal: 0
                                Revenue: 249.84
                      - ID: 323790
                        Name: mapmyjourney.co
                        Widgets:
                          - Guid: 50588baa-3ac3-44d9-821a-942ad1c231e3
                            Description: Widget 59
                            Dates:
                              - Time: '2020-02-11'
                                Impressions: 103331
                                CTR: 0.0387
                                ECPM: 1.8536
                                ECPA: 106.4055
                                ClicksPaid: 4007
                                ClicksInternal: 0
                                Revenue: 191.53
                JSON Group dy Hour:
                  value:
                    Domains:
                      - ID: 332251
                        Name: locatepackages.com
                        Widgets:
                          - Guid: 3f582213-69b0-4d55-87ed-58e88712d957
                            Description: push-notification-api
                            Dates:
                              - Time: '2020-02-11T00:00:00-08:00'
                                Impressions: 238
                                CTR: 0.0462
                                ECPM: 0.8697
                                ECPA: 0.207
                                ClicksPaid: 11
                                ClicksInternal: 0
                                Revenue: 0.21
                      - ID: 324801
                        Name: mapdirectionspro.co
                        Widgets:
                          - Guid: 05d81a8c-a76c-4506-aaae-d1c06a9a4816
                            Description: 3 Unit Push Widget
                            Dates:
                              - Time: '2020-02-11T00:00:00-08:00'
                                Impressions: 93
                                CTR: 0.0107
                                ECPM: 0.1065
                                ECPA: 0.0099
                                ClicksPaid: 1
                                ClicksInternal: 0
                                Revenue: 0.01
                JSON Group by Domain:
                  value:
                    Domains:
                      - ID: 324801
                        Name: mapdirectionspro.co
                        Widgets:
                          - Guid: 05d81a8c-a76c-4506-aaae-d1c06a9a4816
                            Description: 3 Unit Push Widget
                            Dates:
                              - Time: '2020-02-11'
                                Impressions: 133269
                                CTR: 0.0346
                                ECPM: 1.8747
                                ECPA: 249.8364
                                ClicksPaid: 4620
                                ClicksInternal: 0
                                Revenue: 249.84
                No data avaialble:
                  value:
                    Domains: []
            application/xml:
              schema:
                type: object
                properties: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              examples:
                Improper Start/End Date Fromat:
                  value:
                    errors:
                      - startDate does not allow time when grouping by day
                      - endDate does not allow time when grouping by day
                Date Range Too Large:
                  value:
                    errors:
                      - Start time cannot be more than 31 days apart from end time
                Start date after end date:
                  value:
                    errors:
                      - Start time cannot be after end time
        '401':
          description: Unauthorized
    parameters: []
  /publisher/traffic-sources:
    get:
      summary: Traffic Sources Report
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  Rows:
                    type: array
                    items:
                      type: object
                      properties:
                        Time:
                          type: string
                        DomainID:
                          type: integer
                        DomainName:
                          type: string
                        WidgetID:
                          type: integer
                        WidgetGUID:
                          type: string
                        WidgetDescription:
                          type: string
                        Source:
                          type: string
                        Campaign:
                          type: string
                        Impressions:
                          type: integer
                        CTR:
                          type: number
                        ClicksPaid:
                          type: integer
                        ClicksInternational:
                          type: integer
                        Revenue:
                          type: number
              examples:
                Group By Hour:
                  value:
                    Rows:
                      - Time: '2020-02-22T00:00:00-08:00'
                        DomainID: 159210
                        DomainName: thedailyheel.com
                        WidgetID: 158866
                        WidgetGUID: CAAC95EE-B44B-4817-B286-152D5AFF1246
                        WidgetDescription: DailyHeel_Header_1x2_MB
                        Source: ''
                        Campaign: ''
                        Impressions: 70
                        CTR: 5.7143
                        ECPM: 1.6114
                        ClicksPaid: 4
                        ClicksInternal: 0
                        Revenue: 0.11
                      - Time: '2020-02-22T00:00:00-08:00'
                        DomainID: 159210
                        DomainName: thedailyheel.com
                        WidgetID: 227712
                        WidgetGUID: 26A37F19-A635-4175-835F-CF724002FE0F
                        WidgetDescription: DailyHeel_BelowArticle_1x6_MB
                        Source: ''
                        Campaign: ''
                        Impressions: 85
                        CTR: 1.1765
                        ECPM: 0.2
                        ClicksPaid: 1
                        ClicksInternal: 0
                        Revenue: 0.02
                Group By Day:
                  value:
                    Rows:
                      - Time: '2020-02-22'
                        DomainID: 140845
                        DomainName: omghype.com
                        WidgetID: 407565
                        WidgetGUID: B87D13BB-EBCC-4B28-8AFB-0380174C957A
                        WidgetDescription: OMGHype_BA_Art_FB
                        Source: ''
                        Campaign: ''
                        Impressions: 7
                        CTR: 71.4286
                        ECPM: 1.2143
                        ClicksPaid: 5
                        ClicksInternal: 0
                        Revenue: 0.01
                      - Time: '2020-02-22'
                        DomainID: 151762
                        DomainName: veryhangry.com
                        WidgetID: 124943
                        WidgetGUID: 41C94F14-6E79-4481-B1DD-2DED0E037650
                        WidgetDescription: VeryHangry_SlideUp_MB
                        Source: ''
                        Campaign: ''
                        Impressions: 3
                        CTR: 0
                        ECPM: 0
                        ClicksPaid: 0
                        ClicksInternal: 0
                        Revenue: 0
                Group By Aggregate:
                  value:
                    Rows:
                      - Time: null
                        DomainID: 140845
                        DomainName: omghype.com
                        WidgetID: 407565
                        WidgetGUID: B87D13BB-EBCC-4B28-8AFB-0380174C957A
                        WidgetDescription: OMGHype_BA_Art_FB
                        Source: ''
                        Campaign: ''
                        Impressions: 7
                        CTR: 71.4286
                        ECPM: 1.2143
                        ClicksPaid: 5
                        ClicksInternal: 0
                        Revenue: 0.01
                      - Time: null
                        DomainID: 151762
                        DomainName: veryhangry.com
                        WidgetID: 124943
                        WidgetGUID: 41C94F14-6E79-4481-B1DD-2DED0E037650
                        WidgetDescription: VeryHangry_SlideUp_MB
                        Source: ''
                        Campaign: ''
                        Impressions: 3
                        CTR: 0
                        ECPM: 0
                        ClicksPaid: 0
                        ClicksInternal: 0
                        Revenue: 0
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              examples:
                Start Date After End Date:
                  value:
                    errors:
                      - Start time cannot be after end time
                Future Dates:
                  value:
                    errors:
                      - End time cannot be in the future
                Exceeds Date Range:
                  value:
                    errors:
                      - Start time cannot be more than 31 days apart from end time
      operationId: trafficSources
      security: []
      parameters:
        - schema:
            type: string
            default: xml
            example: xml
            enum:
              - xml
              - json
          in: query
          name: output
          description: Defines response format as either XML or JSON as specified.
        - schema:
            type: string
            default: 'Basic '
          in: header
          name: Authorization
          required: true
          description: Encode your API Key and API Password using Basic Auth and include in this field with every call.
        - schema:
            type: string
            example: '2020-07-01T00:00:00-08:00'
            format: date-time
            default: '2020-07-01T00:00:00-08:00'
          in: query
          name: startDate
          description: |-
            Defines beginning of report date range.
            Must be URL encoded. Default: yesterday, beginning of day, Pacific Time. Examples: Group by Time [2016-01-25T00:00:00-08:00], Group by Date [2016-01-25]
          required: true
        - schema:
            type: string
            format: date-time
            default: '2020-07-02T00:00:00-08:00'
            example: '2020-07-02T00:00:00-08:00'
          in: query
          name: endDate
          description: 'Defines end of report date range. Must be URL encoded. Default: yesterday, end of day, Pacific Time.  Examples: Group by Time [2016-01-25T00:00:00-08:00], Group by Date [2016-01-25]'
          required: true
        - schema:
            type: string
            default: aggregate
            example: aggregate
            enum:
              - hour
              - day
              - aggregate
          in: query
          name: groupTime
          description: 'Return entries by hour, day or aggregate.'
      tags:
        - Publisher Reports
      description: |-
        Content.ad offers this REST API to make the data in the Traffic Sources Report in a publisher’s account login available in either XML or JSON format.

        Please note that this feature requires a unique API key and password. Please contact your account representative for more information.

        ## Implementation FAQ
        ### How do I configure my sources and campaigns so that they appear in this report?
        See our FAQ on [setting up the Traffic Sources Report](https://help.content.ad/en/articles/1498868-how-can-i-view-reports-by-url-traffic-source-or-a-custom-dimension).

        ### How is reporting data grouped?
        This report can group data by hour, day or aggregate time period and groups performance by widget, source (clientID) and campaign (clientID2). See the "Query Parameters" section for more information.
  /publisher/click:
    get:
      summary: Publisher Click Report
      tags:
        - Publisher Reports
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  rows:
                    type: array
                    items:
                      type: object
                      properties:
                        date:
                          type: string
                        domain_id:
                          type: integer
                        domain_name:
                          type: string
                        widget_id:
                          type: integer
                        widget_description:
                          type: string
                        device:
                          type: string
                        country:
                          type: string
                        source:
                          type: string
                        campaign:
                          type: string
                        clicks:
                          type: integer
                        revenue:
                          type: number
              examples:
                'Group by Time, Source, & Widget':
                  value:
                    rows:
                      - date: '2020-02-02T00:00:00-08:00'
                        domain_id: null
                        domain_name: null
                        widget_id: 683871
                        widget_description: Push-Notification-API
                        device: null
                        country: null
                        source: optin_01292020_missing
                        campaign: null
                        clicks: 60
                        revenue: 2.62
                      - date: '2020-02-02T00:00:00-08:00'
                        domain_id: null
                        domain_name: null
                        widget_id: 683871
                        widget_description: Push-Notification-API
                        device: null
                        country: null
                        source: optin_01302020_missing
                        campaign: null
                        clicks: 53
                        revenue: 2.32
                Group By Day:
                  value:
                    rows:
                      - date: '2020-02-02T00:00:00-08:00'
                        domain_id: 332260
                        domain_name: mapmyquest.co
                        widget_id: 683871
                        widget_description: Push-Notification-API
                        device: d
                        country: US
                        source: optin_01302020_missing
                        campaign: '02022020'
                        clicks: 44
                        revenue: 1.92
                      - date: '2020-02-02T00:00:00-08:00'
                        domain_id: 332260
                        domain_name: mapmyquest.co
                        widget_id: 683871
                        widget_description: Push-Notification-API
                        device: d
                        country: US
                        source: optin_01292020_missing
                        campaign: '02022020'
                        clicks: 41
                        revenue: 1.69
                Group By Hour:
                  value:
                    rows:
                      - date: '2020-02-02T00:00:00-08:00'
                        domain_id: 327508
                        domain_name: mapsbuddy.co
                        widget_id: 674349
                        widget_description: 1 Ad Push Widget
                        device: d
                        country: US
                        source: optin_11112019_inactive
                        campaign: '02012020'
                        clicks: 1
                        revenue: 0.22
                      - date: '2020-02-02T00:00:00-08:00'
                        domain_id: 323772
                        domain_name: easyformsfinder.com
                        widget_id: 624950
                        widget_description: Widget 58
                        device: d
                        country: US
                        source: optin_01282020_missing
                        campaign: '02012020'
                        clicks: 1
                        revenue: 0.09
                Group By Aggregate:
                  value:
                    rows:
                      - date: null
                        domain_id: 332260
                        domain_name: mapmyquest.co
                        widget_id: 683871
                        widget_description: Push-Notification-API
                        device: d
                        country: US
                        source: optin_01302020_missing
                        campaign: '02022020'
                        clicks: 44
                        revenue: 1.92
                      - date: null
                        domain_id: 332260
                        domain_name: mapmyquest.co
                        widget_id: 683871
                        widget_description: Push-Notification-API
                        device: d
                        country: US
                        source: optin_01292020_missing
                        campaign: '02022020'
                        clicks: 41
                        revenue: 1.69
                Group by Source:
                  value:
                    rows:
                      - date: null
                        domain_id: 311504
                        domain_name: mywordscribe.com
                        widget_id: 573523
                        widget_description: mywordscribe.com
                        device: d
                        country: US
                        source: optin_10032019_active
                        campaign: '02022020'
                        clicks: 1
                        revenue: 0
                      - date: null
                        domain_id: 323790
                        domain_name: mapmyjourney.co
                        widget_id: 625047
                        widget_description: Widget 59
                        device: d
                        country: US
                        source: optin_08182019_active
                        campaign: '02012020'
                        clicks: 1
                        revenue: 0
                Groub By Campaign:
                  value:
                    rows:
                      - date: null
                        domain_id: 332260
                        domain_name: mapmyquest.co
                        widget_id: 683871
                        widget_description: Push-Notification-API
                        device: d
                        country: US
                        source: optin_01302020_missing
                        campaign: '02022020'
                        clicks: 44
                        revenue: 1.92
                      - date: null
                        domain_id: 332260
                        domain_name: mapmyquest.co
                        widget_id: 683871
                        widget_description: Push-Notification-API
                        device: d
                        country: US
                        source: optin_01292020_missing
                        campaign: '02022020'
                        clicks: 41
                        revenue: 1.69
                Group By Country:
                  value:
                    rows:
                      - date: null
                        domain_id: 332260
                        domain_name: mapmyquest.co
                        widget_id: 683871
                        widget_description: Push-Notification-API
                        device: d
                        country: US
                        source: optin_01302020_missing
                        campaign: '02022020'
                        clicks: 44
                        revenue: 1.92
                      - date: null
                        domain_id: 332260
                        domain_name: mapmyquest.co
                        widget_id: 683871
                        widget_description: Push-Notification-API
                        device: d
                        country: US
                        source: optin_01292020_missing
                        campaign: '02022020'
                        clicks: 41
                        revenue: 1.69
                Group By Device:
                  value:
                    rows:
                      - date: null
                        domain_id: 332260
                        domain_name: mapmyquest.co
                        widget_id: 683871
                        widget_description: Push-Notification-API
                        device: d
                        country: US
                        source: optin_01302020_missing
                        campaign: '02022020'
                        clicks: 44
                        revenue: 1.92
                      - date: null
                        domain_id: 332260
                        domain_name: mapmyquest.co
                        widget_id: 683871
                        widget_description: Push-Notification-API
                        device: d
                        country: US
                        source: optin_01292020_missing
                        campaign: '02022020'
                        clicks: 41
                        revenue: 1.69
                Group By Widget:
                  value:
                    rows:
                      - date: null
                        domain_id: 332260
                        domain_name: mapmyquest.co
                        widget_id: 683871
                        widget_description: Push-Notification-API
                        device: d
                        country: US
                        source: optin_01302020_missing
                        campaign: '02022020'
                        clicks: 44
                        revenue: 1.92
                      - date: null
                        domain_id: 332260
                        domain_name: mapmyquest.co
                        widget_id: 683871
                        widget_description: Push-Notification-API
                        device: d
                        country: US
                        source: optin_01292020_missing
                        campaign: '02022020'
                        clicks: 41
                        revenue: 1.69
                Group By Domain:
                  value:
                    rows:
                      - date: null
                        domain_id: 332260
                        domain_name: mapmyquest.co
                        widget_id: 683871
                        widget_description: Push-Notification-API
                        device: d
                        country: US
                        source: optin_01302020_missing
                        campaign: '02022020'
                        clicks: 44
                        revenue: 1.92
                      - date: null
                        domain_id: 332260
                        domain_name: mapmyquest.co
                        widget_id: 683871
                        widget_description: Push-Notification-API
                        device: d
                        country: US
                        source: optin_01292020_missing
                        campaign: '02022020'
                        clicks: 41
                        revenue: 1.69
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              examples:
                Start Date After End Date:
                  value:
                    errors:
                      - Start time cannot be after end time
                Exceeds Date Range:
                  value:
                    errors:
                      - Start time cannot be more than 31 days apart from end time
                Future Date:
                  value:
                    errors:
                      - End time cannot be in the future
                Invalid groupTime value:
                  value:
                    errors:
                      - 'groupTime must be set to one of the following: day, hour, aggregate'
      operationId: publisherClickReport
      description: |-
        ## Introduction
        Content.ad offers this REST API to make detailed click data available to publishers in either XML or JSON format.

        Please note that this feature requires a unique API key and password. Please contact your account representative for more information.

        ## Implementation FAQ
        ### How is reporting data grouped?
        Depending on your preferences, you can view the specific country, device type, source, and campaign of each widget click in a given hour, day, or aggregate time period. See the "Query Parameters" section for more information. Because of the granularity of this data, impressions are not available via this report, so we recommend joining this information to your analytics data if you need to measure impressions to calculate CTR and eCPM at this level.
      parameters:
        - schema:
            type: string
            default: 'Basic '
          in: header
          name: Authorization
          required: true
          description: Encode your API Key and API Password using Basic Auth and include in this field with every call.
        - schema:
            type: string
            default: xml
            example: xml
          in: query
          name: output
          description: Defines response as either XML or JSON as specified.
        - schema:
            type: string
            example: '2020-07-01T00:00:00-08:00'
            default: '2020-07-01T00:00:00-08:00'
          in: query
          name: startDate
          description: |-
            Defines beginning of report date range.
            Must be URL encoded. Default: yesterday, beginning of day, Pacific Time. Examples: Group by Time [2016-01-25T00:00:00-08:00], Group by Date [2016-01-25]
          required: true
        - schema:
            type: string
            default: '2020-07-02T00:00:00-08:00'
            example: '2020-07-02T00:00:00-08:00'
          in: query
          name: endDate
          description: 'Defines end of report date range. Must be URL encoded. Default: yesterday, end of day, Pacific Time.  Examples: Group by Time [2016-01-25T00:00:00-08:00], Group by Date [2016-01-25]'
          required: true
        - schema:
            type: string
            format: ''
            default: 'true'
            example: 'true'
            enum:
              - 'true'
              - 'false'
          in: query
          name: groupByDomain
          description: 'If true, return data separated by domain.'
        - schema:
            type: string
            default: 'true'
            enum:
              - 'true'
              - 'false'
            example: 'true'
          in: query
          name: groupByWidget
          description: 'If true, return data separated by widget.'
        - schema:
            type: string
            default: 'true'
            enum:
              - 'true'
              - 'false'
            example: 'true'
          in: query
          name: groupByCountry
          description: 'If true, return data separated by country.'
        - schema:
            type: string
            default: 'true'
            enum:
              - 'true'
              - 'false'
            example: 'true'
          in: query
          name: groupByDevice
          description: 'If true, return data separated by device.'
        - schema:
            type: string
            default: 'true'
            example: 'true'
            enum:
              - 'true'
              - 'false'
          in: query
          name: groupBySource
          description: 'If true, return data separated by source (clientId).'
        - schema:
            type: string
            default: 'true'
            enum:
              - 'true'
              - 'false'
            example: 'true'
          in: query
          name: groupByCampaign
          description: 'If true, return data separated by campaign (clientId2).'
        - schema:
            type: string
            default: aggregate
            enum:
              - hour
              - day
              - aggregate
            example: aggregate
          in: query
          name: groupTime
          description: 'Returns entries by hour, day or aggregate'
      requestBody: {}
    parameters: []
  /publisher/device-geo:
    get:
      summary: Device Geo Reporting
      tags:
        - Publisher Reports
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  rows:
                    type: array
                    items:
                      type: object
                      properties:
                        date:
                          type: string
                        domain_id:
                          type: integer
                        domain_name:
                          type: string
                        widget_id:
                          type: integer
                        widget_guid:
                          type: string
                        widget_description:
                          type: string
                        device:
                          type: string
                        country:
                          type: string
                        impressions:
                          type: integer
                        ctr:
                          type: number
                        ecpm:
                          type: number
                        clicks_paid:
                          type:
                            - string
                            - integer
                        clicks_international:
                          type: integer
                        revenue:
                          type: number
              examples:
                Filter By Country:
                  value:
                    rows:
                      - date: null
                        domain_id: null
                        domain_name: null
                        widget_id: null
                        widget_guid: null
                        widget_description: null
                        device: d
                        country: US
                        impressions: 404166
                        ctr: 3.076
                        ecpm: 2.2457
                        clicks_paid: 12432
                        clicks_internal: 0
                        revenue: 907.64
                      - date: null
                        domain_id: null
                        domain_name: null
                        widget_id: null
                        widget_guid: null
                        widget_description: null
                        device: m
                        country: US
                        impressions: 509
                        ctr: 1.5717
                        ecpm: 2.9194
                        clicks_paid: 8
                        clicks_internal: 0
                        revenue: 1.49
                      - date: null
                        domain_id: null
                        domain_name: null
                        widget_id: null
                        widget_guid: null
                        widget_description: null
                        device: t
                        country: US
                        impressions: 81
                        ctr: 0
                        ecpm: 0
                        clicks_paid: 0
                        clicks_internal: 0
                        revenue: 0
                Group By Aggregate:
                  value:
                    rows:
                      - date: null
                        domain_id: null
                        domain_name: null
                        widget_id: null
                        widget_guid: null
                        widget_description: null
                        device: d
                        country: US
                        impressions: 404166
                        ctr: 3.076
                        ecpm: 2.2457
                        clicks_paid: 12432
                        clicks_internal: 0
                        revenue: 907.64
                      - date: null
                        domain_id: null
                        domain_name: null
                        widget_id: null
                        widget_guid: null
                        widget_description: null
                        device: m
                        country: US
                        impressions: 509
                        ctr: 1.5717
                        ecpm: 2.9194
                        clicks_paid: 8
                        clicks_internal: 0
                        revenue: 1.49
                Group By Day:
                  value:
                    rows:
                      - date: '2020-02-02T00:00:00-08:00'
                        domain_id: null
                        domain_name: null
                        widget_id: null
                        widget_guid: null
                        widget_description: null
                        device: d
                        country: US
                        impressions: 404166
                        ctr: 3.076
                        ecpm: 2.2457
                        clicks_paid: 12432
                        clicks_internal: 0
                        revenue: 907.64
                      - date: '2020-02-02T00:00:00-08:00'
                        domain_id: null
                        domain_name: null
                        widget_id: null
                        widget_guid: null
                        widget_description: null
                        device: m
                        country: US
                        impressions: 509
                        ctr: 1.5717
                        ecpm: 2.9194
                        clicks_paid: 8
                        clicks_internal: 0
                        revenue: 1.49
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              examples:
                Device Type Invalid:
                  value:
                    errors:
                      - 'device must be set to one of the following: desktop, mobile, tablet'
      operationId: deviceGeo
      description: |-
        Content.ad offers a REST API for a publisher to receive device and geo reporting data in either XML or JSON format. Please note that the report can only be run for a maximum period of 31 days.

        Please note that this feature requires a unique API key and password. Please contact your account representative for more information.

        ## Implementation FAQ
        ### How is reporting data grouped?
        Depending on your preferences, you can view the specific country, device type, and domain, of each widget click in a given hour, day, or aggregate time period. See the "Query Parameters" section for more information. Because of the granularity of this data, impressions are not available via this report, so we recommend joining this information to your analytics data if you need to measure impressions to calculate CTR and eCPM at this level.
      parameters:
        - schema:
            type: string
            default: 'Basic '
          in: header
          name: Authorization
          description: Encode your API Key and API Password using Basic Auth and include in this field with every call.
          required: true
        - schema:
            type: string
            default: all
            example: 'US,CA,UK'
          in: query
          name: countries
          description: Return only performance of the specified countries. Expects a comma delimited list.
        - schema:
            type: string
            default: moible
            enum:
              - desktop
              - mobile
            example: mobile
          in: query
          name: device
          description: Return only preformance of the specified device type.
        - schema:
            type: string
            default: xml
            example: xml
            enum:
              - xml
              - json
          in: query
          name: output
          description: Defines response as either XML or JSON as specified.
        - schema:
            type: string
            example: '2020-07-01T00:00:00-08:00'
            default: '2020-07-01T00:00:00-08:00'
          in: query
          name: startDate
          description: |-
            Defines beginning of report date range.
            Must be URL encoded. Default: yesterday, beginning of day, Pacific Time. Examples: Group by Time [2016-01-25T00:00:00-08:00], Group by Date [2016-01-25]
          required: true
        - schema:
            type: string
            default: '2020-07-02T00:00:00-08:00'
            example: '2020-07-02T00:00:00-08:00'
          in: query
          name: endDate
          description: 'Defines end of report date range. Must be URL encoded. Default: yesterday, end of day, Pacific Time.  Examples: Group by Time [2016-01-25T00:00:00-08:00], Group by Date [2016-01-25]'
          required: true
        - schema:
            type: string
            format: ''
            default: 'true'
            example: 'true'
            enum:
              - 'true'
              - 'false'
          in: query
          name: groupByDomain
          description: 'If true, return data separated by domain.'
        - schema:
            type: string
            default: 'true'
            enum:
              - 'true'
              - 'false'
            example: 'true'
          in: query
          name: groupByWidget
          description: 'If true, return data separated by widget.'
        - schema:
            type: string
            default: 'true'
            enum:
              - 'true'
              - 'false'
            example: 'true'
          in: query
          name: groupByCountry
          description: 'If true, return data separated by country.'
        - schema:
            type: string
            default: 'true'
            enum:
              - 'true'
              - 'false'
            example: 'true'
          in: query
          name: groupByDevice
          description: 'If true, return data separated by device.'
        - schema:
            type: string
            default: aggregate
            enum:
              - hour
              - day
              - aggregate
            example: aggregate
          in: query
          name: groupTime
          description: 'Returns entries by hour, day or aggregate'
  /advertiser:
    get:
      summary: /advertiser
      tags:
        - Advertiser Reporting
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  Rows:
                    type: array
                    items:
                      type: object
                      properties:
                        Campaign:
                          type: object
                          properties:
                            ID:
                              type: integer
                            Name:
                              type: string
                        Ad:
                          type: string
                        Time:
                          type: string
                        Impressions:
                          type: integer
                        Clicks:
                          type: integer
                        CTR:
                          type: number
                        Conversions:
                          type: integer
                        Spend:
                          type: number
                        ECPC:
                          type: number
                        ECPA:
                          type: number
              examples:
                JSON:
                  value:
                    Rows:
                      - Campaign:
                          ID: 0
                          Name: null
                        Ad: null
                        Time: null
                        Impressions: 31340345
                        Clicks: 54875
                        CTR: 0.1751
                        Conversions: 0
                        Spend: 1282.15
                        ECPC: 0.0233
                        ECPA: 1282.154
      operationId: advertiser
      description: |-
        Content.ad offers this REST API to make the data in the Campaign Summary Report in an advertiser’s account login available in either XML or JSON format.

        Please note that this feature requires a unique API key and password. Please contact your account representative for more information.

        ## Implementation FAQ
        ### How is reporting data grouped?
        This report has options for time groupings down to the hour and data sets down to the ad. See the “Optional Query String Parameters” section below for more information.
      parameters:
        - schema:
            type: string
            default: aggregate
            example: aggregate
            enum:
              - ad
              - campaign
              - aggregate
          in: query
          name: groupBy
          description: 'Returns entries by ad, campaign or aggregate'
        - schema:
            type: string
            default: aggregate
            enum:
              - day
              - hour
              - aggregate
            example: aggregate
          in: query
          name: groupTime
          description: 'Returns entries by date, hour or aggregate.'
        - schema:
            type: string
            default: xml
            example: xml
          in: query
          name: output
          description: Defines reponse format as either XML or JSON as specified.
        - schema:
            type: string
            example: '2020-07-01T00:00:00-08:00'
          in: query
          name: startDate
          description: |-
            Defines beginning of report date range.
            Must be URL encoded. Default: yesterday, beginning of day, Pacific Time. Examples: Group by Time [2016-01-25T00:00:00-08:00], Group by Date [2016-01-25]
          required: true
        - schema:
            type: string
            example: '2020-07-01T00:00:00-08:00'
          in: query
          name: endDate
          description: 'Defines end of report date range. Must be URL encoded. Default: yesterday, end of day, Pacific Time.  Examples: Group by Time [2016-01-25T00:00:00-08:00], Group by Date [2016-01-25]'
          required: true
        - schema:
            type: string
          in: header
          name: Authorization
          description: Encode your API Key and API Password using Basic Auth and include in this field with every call.
          required: true
  /advertiser/click:
    get:
      summary: /advertiser/click
      tags:
        - Advertiser Reporting
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  rows:
                    type: array
                    items:
                      type: object
                      properties:
                        date:
                          type: string
                        campaign_id:
                          type: integer
                        campaign_name:
                          type: string
                        ad_id:
                          type: integer
                        device:
                          type: string
                        country:
                          type: string
                        domain_id:
                          type: string
                        clicks:
                          type: integer
                        spend:
                          type: number
                        excluded_clicks:
                          type: integer
                        conversions:
                          type: integer
                        ecpc:
                          type: number
                        ecpa:
                          type: number
              examples:
                JSON:
                  value:
                    rows:
                      - date: null
                        campaign_id: 125865
                        campaign_name: 345_Sports_Photo_Desktop_US_CAD
                        ad_id: null
                        device: null
                        country: null
                        domain_id: null
                        clicks: 955
                        spend: 46.82
                        excluded_clicks: 172
                        conversions: 0
                        ecpc: 0.049
                        ecpa: 0
                      - date: null
                        campaign_id: 124932
                        campaign_name: 319_Foods_That_Kills_Mobile_T1_CAD
                        ad_id: null
                        device: null
                        country: null
                        domain_id: null
                        clicks: 561
                        spend: 9.1
                        excluded_clicks: 106
                        conversions: 0
                        ecpc: 0.0162
                        ecpa: 0
                Group By Domain:
                  value:
                    rows:
                      - date: null
                        campaign_id: 125865
                        campaign_name: 345_Sports_Photo_Desktop_US_CAD
                        ad_id: null
                        device: null
                        country: null
                        domain_id: 281811
                        clicks: 120
                        spend: 6
                        excluded_clicks: 12
                        conversions: 0
                        ecpc: 0.05
                        ecpa: 0
                      - date: null
                        campaign_id: 125865
                        campaign_name: 345_Sports_Photo_Desktop_US_CAD
                        ad_id: null
                        device: null
                        country: null
                        domain_id: 159212
                        clicks: 112
                        spend: 5.6
                        excluded_clicks: 27
                        conversions: 0
                        ecpc: 0.05
                        ecpa: 0
                Group By Campaign:
                  value:
                    rows:
                      - date: null
                        campaign_id: 125865
                        campaign_name: 345_Sports_Photo_Desktop_US_CAD
                        ad_id: null
                        device: null
                        country: null
                        domain_id: null
                        clicks: 955
                        spend: 46.82
                        excluded_clicks: 172
                        conversions: 0
                        ecpc: 0.049
                        ecpa: 0
                      - date: null
                        campaign_id: 124932
                        campaign_name: 319_Foods_That_Kills_Mobile_T1_CAD
                        ad_id: null
                        device: null
                        country: null
                        domain_id: null
                        clicks: 561
                        spend: 9.1
                        excluded_clicks: 106
                        conversions: 0
                        ecpc: 0.0162
                        ecpa: 0
                Group By Ad:
                  value:
                    rows:
                      - date: null
                        campaign_id: 125865
                        campaign_name: 345_Sports_Photo_Desktop_US_CAD
                        ad_id: null
                        device: null
                        country: null
                        domain_id: null
                        clicks: 955
                        spend: 46.82
                        excluded_clicks: 172
                        conversions: 0
                        ecpc: 0.049
                        ecpa: 0
                      - date: null
                        campaign_id: 124932
                        campaign_name: 319_Foods_That_Kills_Mobile_T1_CAD
                        ad_id: null
                        device: null
                        country: null
                        domain_id: null
                        clicks: 561
                        spend: 9.1
                        excluded_clicks: 106
                        conversions: 0
                        ecpc: 0.0162
                        ecpa: 0
                Campaign ID:
                  value:
                    rows:
                      - date: null
                        campaign_id: 124932
                        campaign_name: 319_Foods_That_Kills_Mobile_T1_CAD
                        ad_id: 2355079
                        device: null
                        country: null
                        domain_id: null
                        clicks: 409
                        spend: 6.86
                        excluded_clicks: 38
                        conversions: 0
                        ecpc: 0.0167
                        ecpa: 0
                      - date: null
                        campaign_id: 124932
                        campaign_name: 319_Foods_That_Kills_Mobile_T1_CAD
                        ad_id: 2341044
                        device: null
                        country: null
                        domain_id: null
                        clicks: 152
                        spend: 2.24
                        excluded_clicks: 67
                        conversions: 0
                        ecpc: 0.0147
                        ecpa: 0
                      - date: null
                        campaign_id: 124932
                        campaign_name: 319_Foods_That_Kills_Mobile_T1_CAD
                        ad_id: 2341053
                        device: null
                        country: null
                        domain_id: null
                        clicks: 0
                        spend: 0
                        excluded_clicks: 1
                        conversions: 0
                        ecpc: 0
                        ecpa: 0
                Group By Country:
                  value:
                    rows:
                      - date: null
                        campaign_id: 124790
                        campaign_name: 303_Symptoms_Diabetes_Mobile_T1_CAD
                        ad_id: null
                        device: null
                        country: CA
                        domain_id: null
                        clicks: 386
                        spend: 7.92
                        excluded_clicks: 23
                        conversions: 0
                        ecpc: 0.0205
                        ecpa: 0
                      - date: null
                        campaign_id: 125868
                        campaign_name: 347_Sports_Photo_Mobile_T1_CAD
                        ad_id: null
                        device: null
                        country: CA
                        domain_id: null
                        clicks: 311
                        spend: 4.79
                        excluded_clicks: 45
                        conversions: 0
                        ecpc: 0.0153
                        ecpa: 0
                Group By Device:
                  value:
                    rows:
                      - date: null
                        campaign_id: 125865
                        campaign_name: 345_Sports_Photo_Desktop_US_CAD
                        ad_id: null
                        device: d
                        country: null
                        domain_id: null
                        clicks: 955
                        spend: 46.82
                        excluded_clicks: 158
                        conversions: 0
                        ecpc: 0.049
                        ecpa: 0
                      - date: null
                        campaign_id: 124932
                        campaign_name: 319_Foods_That_Kills_Mobile_T1_CAD
                        ad_id: null
                        device: m
                        country: null
                        domain_id: null
                        clicks: 561
                        spend: 9.1
                        excluded_clicks: 60
                        conversions: 0
                        ecpc: 0.0162
                        ecpa: 0
                Group By Day:
                  value:
                    rows:
                      - date: '2020-01-01T00:00:00-08:00'
                        campaign_id: 125865
                        campaign_name: 345_Sports_Photo_Desktop_US_CAD
                        ad_id: null
                        device: null
                        country: null
                        domain_id: null
                        clicks: 356
                        spend: 17.7
                        excluded_clicks: 56
                        conversions: 0
                        ecpc: 0.0497
                        ecpa: 0
                      - date: '2020-01-01T00:00:00-08:00'
                        campaign_id: 124849
                        campaign_name: 306_Fruits_Fat_Burning_Desktop_US_CAD
                        ad_id: null
                        device: null
                        country: null
                        domain_id: null
                        clicks: 53
                        spend: 2.95
                        excluded_clicks: 10
                        conversions: 0
                        ecpc: 0.0556
                        ecpa: 0
                Group by Hour:
                  value:
                    rows:
                      - date: '2020-01-01T00:00:00-08:00'
                        campaign_id: 125865
                        campaign_name: 345_Sports_Photo_Desktop_US_CAD
                        ad_id: null
                        device: null
                        country: null
                        domain_id: null
                        clicks: 5
                        spend: 0.25
                        excluded_clicks: 3
                        conversions: 0
                        ecpc: 0.05
                        ecpa: 0
                      - date: '2020-01-01T00:00:00-08:00'
                        campaign_id: 124791
                        campaign_name: 304_Symptons_Diabetes_Mobile_UK_CAD
                        ad_id: null
                        device: null
                        country: null
                        domain_id: null
                        clicks: 1
                        spend: 0.06
                        excluded_clicks: 0
                        conversions: 0
                        ecpc: 0.058
                        ecpa: 0
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              examples:
                Start Date After End Date:
                  value:
                    errors:
                      - Start time cannot be after end time
                Future End Time:
                  value:
                    errors:
                      - End time cannot be in the future
      operationId: advertiserClick
      description: |-
        Content.ad offers this REST API to make detailed click data available to advertisers in either XML or JSON format.

        Please note that this feature requires a unique API key and password. Please contact your account representative for more information.

        ## Implementation FAQ
        ### How is reporting data grouped?
        Depending on your preferences, you can view the specific country, device type, and domain ID of each ad click in a given hour, day, or aggregate time period. See the “Optional Query String Parameters” section below for more information. Because of the granularity of this data, impressions are not available via this report.
      parameters:
        - schema:
            type: string
          in: header
          description: Encode your API Key and API Password using Basic Auth and include in this field with every call.
          required: true
          name: Authorization
        - schema:
            type: string
            example: '2020-07-01T00:00:00-08:00'
          in: query
          name: startDate
          description: |-
            Defines beginning of report date range.
            Must be URL encoded. Default: yesterday, beginning of day, Pacific Time. Examples: Group by Time [2016-01-25T00:00:00-08:00], Group by Date [2016-01-25]
          required: true
        - schema:
            type: string
            example: '2020-07-02T00:00:00-08:00'
          in: query
          name: endDate
          description: 'Defines end of report date range. Must be URL encoded. Default: yesterday, end of day, Pacific Time.  Examples: Group by Time [2016-01-25T00:00:00-08:00], Group by Date [2016-01-25]'
          required: true
        - schema:
            type: string
            default: 'true'
            example: 'true'
            enum:
              - 'true'
              - 'false'
          in: query
          name: groupByCampaign
          description: 'If true, return data seperated by campaign.'
        - schema:
            type: string
            default: 'false'
            enum:
              - 'false'
              - 'true'
            example: 'true'
          in: query
          name: groupByAd
          description: 'If true, return data separated by ad.'
        - schema:
            type: string
            default: 'false'
            enum:
              - 'false'
              - 'true'
            example: 'true'
          in: query
          name: groupByCountry
          description: 'If true, return data separated by device.'
        - schema:
            type: string
            default: 'false'
            enum:
              - 'false'
              - 'true'
            example: 'true'
          in: query
          name: groupByDevice
          description: 'If true, return data separated by device.'
        - schema:
            type: string
            default: 'false'
            enum:
              - 'false'
              - 'true'
            example: 'true'
          in: query
          name: groupByDomain
          description: 'If true, return data separated by domain.'
        - schema:
            type: string
            default: aggregate
            enum:
              - hour
              - day
              - aggregate
            example: day
          in: query
          name: groupTime
          description: 'Return entries by hour, day or aggregate.'
        - schema:
            type: integer
            example: '12345'
          in: query
          name: campaignId
          description: Return only clicks for the provided domain ID.
components:
  schemas: {}
  securitySchemes:
    API Key:
      name: API Password
      type: apiKey
      in: header
    basicAuth:
      type: http
      scheme: basic
tags:
  - name: Publisher Reports
    description: Content.ad offers this REST API to make reporting data available in either XML or JSON format.
  - name: Advertiser Reporting
    description: Content.ad offers this REST API to make reporting data available in either XML or JSON format.
