openapi: 3.0.0
info:
  title: Content.ad Reporting API
  version: '1.0'
  description: |-
    # Introduction
    Content.ad offers this REST API to make reporting data available in either XML or JSON format.

    Please note that this feature requires a unique API key and API password. Please contact your account representative for more information.

    ## Implementation FAQ
    ### How often is performance data updated?
    Performance reports are updated by Content.ad once per hour.

    ### How long can I run the report for?
    This report can be run for any period 31 days or less. You can use the "startDate" and "endDate" parameters to specify a date range.
  contact:
    name: Content.ad Support
    url: 'https://help.content.ad'
    email: support@content.ad
servers:
  - url: 'https://rest.content.ad/reports'
    description: Rest API
paths:
  /publisher:
    get:
      summary: Publisher Report
      tags:
        - Publisher Reports
      operationId: publisherReport
      description: |-
        Content.ad offers this REST API to make the data in the Widget Summary Report in a publisher’s account login available in either XML or JSON format.

        Please note that this feature requires a unique API key and password. Please contact your account representative for more information.

        ## Implementation FAQ
        ### How is reporting data grouped?
        This report can group data by hour or day and groups performance by domain and widget. See the "Query Parameters" section for more information.
      security: []
      parameters:
        - schema:
            type: string
            default: xml
            example: xml
            enum:
              - xml
              - json
          in: query
          name: output
          description: Defines response format as either XML or JSON as specified.
        - schema:
            type: string
            format: date-time
            default: '2020-07-01T00:00:00-08:00'
          in: query
          name: startDate
          description: |-
            Defines beginning of report date range.
            Must be URL encoded.
            Example: 2016-01-25T00:00:00-08:00
        - schema:
            type: string
            format: date-time
            default: '2020-07-02T00:00:00-08:00'
          in: query
          name: endDate
          description: 'Defines end of report date range. Must be URL encoded. Example: 2016-01-26T00:00:00-08:00'
        - schema:
            type: string
            default: 'false'
            example: 'false'
            enum:
              - 'true'
              - 'false'
          in: query
          name: groupByDay
          description: 'If true, return entries by day rather than by hour.'
        - $ref: 'https://en.wikipedia.org/wiki/Basic_access_authentication'
        - schema:
            type: string
            default: 'Basic '
          in: header
          name: Authorization
          required: true
          description: Encode your API Key and API Password using Basic Auth and include in this field with every call.
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  Domains:
                    type: array
                    items:
                      type: object
                      properties:
                        ID:
                          type: integer
                        Name:
                          type: string
                        Widgets:
                          type: array
                          items:
                            type: object
                            properties:
                              Guid:
                                type: string
                              Description:
                                type: string
                              Dates:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    Time:
                                      type: string
                                    Impressions:
                                      type: integer
                                    CTR:
                                      type: number
                                    ECPM:
                                      type: number
                                    ClicksPaid:
                                      type: integer
                                    ClicksInternational:
                                      type: integer
                                    Revenue:
                                      type: number
              examples: {}
    parameters: []
  /publisher/traffic-sources:
    get:
      summary: Traffic Sources Report
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  Rows:
                    type: array
                    items:
                      type: object
                      properties:
                        Time:
                          type: string
                        DomainID:
                          type: integer
                        DomainName:
                          type: string
                        WidgetID:
                          type: integer
                        WidgetGUID:
                          type: string
                        WidgetDescription:
                          type: string
                        Source:
                          type: string
                        Campaign:
                          type: string
                        Impressions:
                          type: integer
                        CTR:
                          type: number
                        ClicksPaid:
                          type: integer
                        ClicksInternational:
                          type: integer
                        Revenue:
                          type: number
      operationId: trafficSources
      security: []
      parameters:
        - schema:
            type: string
            default: xml
            example: xml
            enum:
              - xml
              - json
          in: query
          name: output
          description: Defines response format as either XML or JSON as specified.
          required: true
        - schema:
            type: string
            default: 'Basic '
          in: header
          name: Authorization
          required: true
          description: Encode your API Key and API Password using Basic Auth and include in this field with every call.
        - schema:
            type: string
            example: '2020-07-01T00:00:00-08:00'
            format: date-time
            default: '2020-07-01T00:00:00-08:00'
          in: query
          name: startDate
          description: |
            Defines beginning of report date range. Must be URL encoded. Example: 2020-07-01T00:00:00-08:00
        - schema:
            type: string
            format: date-time
            default: '2020-07-02T00:00:00-08:00'
            example: '2020-07-02T00:00:00-08:00'
          in: query
          name: endDate
          description: 'Defines end of report date range. Must be URL encoded. Example: 2020-07-02T00:00:00-08:00'
        - schema:
            type: string
            default: aggregate
            example: aggregate
            enum:
              - hour
              - day
              - aggregate
          in: query
          name: groupTime
          description: 'Return entries by hour, day or aggregate.'
      tags:
        - Publisher Reports
      description: |-
        Content.ad offers this REST API to make the data in the Traffic Sources Report in a publisher’s account login available in either XML or JSON format.

        Please note that this feature requires a unique API key and password. Please contact your account representative for more information.

        ## Implementation FAQ
        ### How do I configure my sources and campaigns so that they appear in this report?
        See our FAQ on [setting up the Traffic Sources Report](https://help.content.ad/en/articles/1498868-how-can-i-view-reports-by-url-traffic-source-or-a-custom-dimension).

        ### How is reporting data grouped?
        This report can group data by hour, day or aggregate time period and groups performance by widget, source (clientID) and campaign (clientID2). See the "Query Parameters" section for more information.
  /publisher/click:
    get:
      summary: Publisher Click Report
      tags:
        - Publisher Reports
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  rows:
                    type: array
                    items:
                      type: object
                      properties:
                        date:
                          type: string
                        domain_id:
                          type: integer
                        domain_name:
                          type: string
                        widget_id:
                          type: integer
                        widget_description:
                          type: string
                        device:
                          type: string
                        country:
                          type: string
                        source:
                          type: string
                        campaign:
                          type: string
                        clicks:
                          type: integer
                        revenue:
                          type: number
              examples: {}
      operationId: publisherClickReport
      description: |-
        ## Introduction
        Content.ad offers this REST API to make detailed click data available to publishers in either XML or JSON format.

        Please note that this feature requires a unique API key and password. Please contact your account representative for more information.

        ## Implementation FAQ
        ### How is reporting data grouped?
        Depending on your preferences, you can view the specific country, device type, source, and campaign of each widget click in a given hour, day, or aggregate time period. See the "Query Parameters" section for more information. Because of the granularity of this data, impressions are not available via this report, so we recommend joining this information to your analytics data if you need to measure impressions to calculate CTR and eCPM at this level.
      parameters:
        - schema:
            type: string
            default: 'Basic '
          in: header
          name: Authorization
          required: true
          description: Encode your API Key and API Password using Basic Auth and include in this field with every call.
        - schema:
            type: string
            default: all
            example: 'US,CA,UK'
          in: query
          name: countries
          description: Return only performance of the specified countries. Expects a comma delimited list.
        - schema:
            type: string
            default: all
            enum:
              - desktop
              - mobile
              - all
            example: all
          in: query
          name: device
          description: Return only preformance of the specified device type.
        - schema:
            type: string
            default: xml
            example: xml
          in: query
          name: output
          description: Defines response as either XML or JSON as specified.
        - schema:
            type: string
            example: '2020-07-01T00:00:00-08:00'
            default: '2020-07-01T00:00:00-08:00'
          in: query
          name: startDate
          description: 'Defines beginning of report date range. Must be URL encoded. The default value is yesterday at the beginning of the day, Pacific Time. Example: 2020-07-01T00:00:00-08:00'
        - schema:
            type: string
            default: '2020-07-02T00:00:00-08:00'
            example: '2020-07-02T00:00:00-08:00'
          in: query
          name: endDate
          description: 'Defines beginning of report date range. Must be URL encoded. The default value is yesterday at the end of the day, Pacific Time. Example: 2020-07-02T00:00:00-08:00'
        - schema:
            type: string
            format: ''
            default: 'true'
            example: 'true'
            enum:
              - 'true'
              - 'false'
          in: query
          name: groupByDomain
          description: 'If true, return data separated by domain.'
        - schema:
            type: string
            default: 'true'
            enum:
              - 'true'
              - 'false'
            example: 'true'
          in: query
          name: groupByWidget
          description: 'If true, return data separated by widget.'
        - schema:
            type: string
            default: 'true'
            enum:
              - 'true'
              - 'false'
            example: 'true'
          in: query
          name: groupByCountry
          description: 'If true, return data separated by country.'
        - schema:
            type: string
            default: 'true'
            enum:
              - 'true'
              - 'false'
            example: 'true'
          in: query
          name: groupByDevice
          description: 'If true, return data separated by device.'
        - schema:
            type: string
            default: 'true'
            example: 'true'
            enum:
              - 'true'
              - 'false'
          in: query
          name: groupBySource
          description: 'If true, return data separated by source (clientId).'
        - schema:
            type: string
            default: 'true'
            enum:
              - 'true'
              - 'false'
            example: 'true'
          in: query
          name: groupByCampaign
          description: 'If true, return data separated by campaign (clientId2).'
        - schema:
            type: string
            default: aggregate
            enum:
              - hour
              - day
              - aggregate
            example: aggregate
          in: query
          name: groupTime
          description: 'Returns entries by hour, day or aggregate'
      requestBody: {}
    parameters: []
  /publisher/device-geo:
    get:
      summary: Device Geo Reporting
      tags:
        - Publisher Reports
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  rows:
                    type: array
                    items:
                      type: object
                      properties:
                        date:
                          type: string
                        domain_id:
                          type: integer
                        domain_name:
                          type: string
                        widget_id:
                          type: integer
                        widget_guid:
                          type: string
                        widget_description:
                          type: string
                        device:
                          type: string
                        country:
                          type: string
                        impressions:
                          type: integer
                        ctr:
                          type: number
                        ecpm:
                          type: number
                        clicks_paid:
                          type:
                            - string
                            - integer
                        clicks_international:
                          type: integer
                        revenue:
                          type: number
      operationId: deviceGeo
      description: |-
        Content.ad offers a REST API for a publisher to receive device and geo reporting data in either XML or JSON format. Please note that the report can only be run for a maximum period of 31 days.

        Please note that this feature requires a unique API key and password. Please contact your account representative for more information.

        ## Implementation FAQ
        ### How is reporting data grouped?
        Depending on your preferences, you can view the specific country, device type, and domain, of each widget click in a given hour, day, or aggregate time period. See the "Query Parameters" section for more information. Because of the granularity of this data, impressions are not available via this report, so we recommend joining this information to your analytics data if you need to measure impressions to calculate CTR and eCPM at this level.
      parameters:
        - schema:
            type: string
            default: 'Basic '
          in: header
          name: Authorization
          description: Encode your API Key and API Password using Basic Auth and include in this field with every call.
          required: true
        - schema:
            type: string
            default: all
            example: 'US,CA,UK'
          in: query
          name: countries
          description: Return only performance of the specified countries. Expects a comma delimited list.
        - schema:
            type: string
            default: all
            enum:
              - desktop
              - mobile
            example: all
          in: query
          name: device
          description: Return only preformance of the specified device type.
        - schema:
            type: string
            default: xml
            example: xml
            enum:
              - xml
              - json
          in: query
          name: output
          description: Defines response as either XML or JSON as specified.
        - schema:
            type: string
            example: '2020-07-01T00:00:00-08:00'
            default: '2020-07-01T00:00:00-08:00'
          in: query
          name: startDate
          description: 'Defines beginning of report date range. Must be URL encoded. The default value is yesterday at the beginning of the day, Pacific Time. Example: 2020-07-01T00:00:00-08:00'
        - schema:
            type: string
            default: '2020-07-02T00:00:00-08:00'
            example: '2020-07-02T00:00:00-08:00'
          in: query
          name: endDate
          description: 'Defines beginning of report date range. Must be URL encoded. The default value is yesterday at the end of the day, Pacific Time. Example: 2020-07-02T00:00:00-08:00'
        - schema:
            type: string
            format: ''
            default: 'true'
            example: 'true'
            enum:
              - 'true'
              - 'false'
          in: query
          name: groupByDomain
          description: 'If true, return data separated by domain.'
        - schema:
            type: string
            default: 'true'
            enum:
              - 'true'
              - 'false'
            example: 'true'
          in: query
          name: groupByWidget
          description: 'If true, return data separated by widget.'
        - schema:
            type: string
            default: 'true'
            enum:
              - 'true'
              - 'false'
            example: 'true'
          in: query
          name: groupByCountry
          description: 'If true, return data separated by country.'
        - schema:
            type: string
            default: 'true'
            enum:
              - 'true'
              - 'false'
            example: 'true'
          in: query
          name: groupByDevice
          description: 'If true, return data separated by device.'
        - schema:
            type: string
            default: aggregate
            enum:
              - hour
              - day
              - aggregate
            example: aggregate
          in: query
          name: groupTime
          description: 'Returns entries by hour, day or aggregate'
components:
  schemas: {}
  securitySchemes:
    API Key:
      name: API Password
      type: apiKey
      in: header
    basicAuth:
      type: http
      scheme: basic
tags:
  - name: Publisher Reports
    description: Content.ad offers this REST API to make reporting data available in either XML or JSON format.
